@font-face {
    font-family: Averta;
    src: url("./font/Averta/Averta-Regular.otf") format("opentype");
}

@font-face {
    font-family: Averta;
    font-weight: 100;
    src: url("./font/Averta/Averta-Thin.otf") format("opentype");
}

@font-face {
    font-family: Averta;
    font-weight: 600;
    src: url("./font/Averta/Averta-Semibold.otf") format("opentype");
}

@font-face {
    font-family: Averta;
    font-weight: 700;
    src: url("./font/Averta/Averta-Bold.otf") format("opentype");
}

@font-face {
    font-family: Averta;
    font-weight: 800;
    src: url("./font/Averta/Averta-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Averta;
    font-weight: 900;
    src: url("./font/Averta/Averta-Black.otf") format("opentype");
}